{{> header}}
<br>
<div class="col-xs-9 col-sm-9 col-lg-9">
    <div class="panel panel-primary panel-transparent">
        <div class="panel-heading">
            <h3 class="panel-title">Resume.cs</h3>
            <div class="pull-right">
                <span>
                    <a href="#/aboutme">
                        <i class="fa fa-window-close"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="panel-body fixed-panel">
            <ol class="line">
                <li>
                    <p><span class="bluetext">namespace</span> About_Me</p>
                </li>
                <li>
                    <p>{</p>
                </li>
                <li>
                    <p>&emsp;<span class="bluetext">using</span> System;</p>
                </li>
                <li>
                    <p>&emsp;<span class="bluetext">using</span> System.Collections.Generic;</p>
                </li>
                <li>
                    <p>
                        <br>
                    </p>
                </li>
                <li>
                    <p>&emsp;
                        <span class="bluetext">public class</span>
                        <span class="classtext">AboutMe</span>
                    </p>
                </li>
                <li>
                    <p>&emsp; {</p>
                </li>
                <li>
                    <p>&emsp; &emsp;
                        <span class="bluetext">public static void </span>Main()</p>
                </li>
                <li>
                    <p>&emsp; &emsp;{</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;
                        <span class="classtext">Person</span> dimitar =
                        <span class="bluetext">new </span>
                        <span class="classtext">Person</span>
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; {</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp;FirstName =
                        <span class="string">"Dimitar"</span>,</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp;LastName =
                        <span class="string">"Lilov"</span>,</p>
                </li>
                <li>
                    <p>
                        &emsp; &emsp; &emsp; &emsp; &emsp;BirthDate =
                        <span class="bluetext">new</span>
                        <span class="classtext">DateTime</span> (1992, 04, 25)
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; };</p>
                </li>
                <li>
                    <p>
                        <br>
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;
                        <span class="comment">// Work</span>
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;dimitar.Work =
                        <span calss="bluetext">new</span>
                        <span class="classtext">List</span>
                        <<span class="classtext">Work</span>>
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;{</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp;
                        <span calss="bluetext">new</span>
                        <span class="classtext">Work</span>
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;&emsp;&emsp;&emsp;{</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;CompanyName =
                        <span class="string">"Sirius Software Ltd."</span>,</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;Title =
                        <span class="string">"Software Developer"</span>,</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;Description =
                        <span class="string">"Slot Games Developer"</span>,</p>
                </li>
                <li>
                    <p>
                        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;StartDate =
                        <span class="bluetext">new</span>
                        <span class="classtext">DateTime</span> (2019, 05, 27)
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;&emsp;&emsp;&emsp;}</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;};</p>
                </li>
                <li>
                    <p>
                        <br>
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;
                        <span class="comment">// Education</span>
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;dimitar.Schools =
                        <span calss="bluetext">new</span>
                        <span class="classtext">List</span>
                        <<span class="classtext">School</span>>
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;{</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp;
                        <span calss="bluetext">new</span>
                        <span class="classtext">School</span>
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;&emsp;&emsp;&emsp;{</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;Name =
                        <span class="string">"SoftUni"</span>,</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;Qualification =
                        <span class="string">"Software Engineering"</span>,</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;Specialty =
                        <span class="string">"C# Web Developer"</span>,</p>
                </li>
                <li>
                    <p>
                        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;StartDate =
                        <span class="bluetext">new</span>
                        <span class="classtext">DateTime</span> (2015, 09),
                    </p>
                </li>
                <li>
                    <p>
                        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;EndDate =
                        <span class="bluetext">new</span>
                        <span class="classtext">DateTime</span> (2018, 02)
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;&emsp;&emsp;&emsp;},</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp;
                        <span calss="bluetext">new</span>
                        <span class="classtext">School</span>
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;&emsp;&emsp;&emsp;{</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;Name =
                        <span class="string">"University of Food Technologies"</span>,</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;Qualification =
                        <span class="string">"Engineering and Technology"</span>,</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;Specialty =
                        <span class="string">"Analysis and Control of Food Products"</span>,</p>
                </li>
                <li>
                    <p>
                        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;StartDate =
                        <span class="bluetext">new</span>
                        <span class="classtext">DateTime</span> (2011, 09),
                    </p>
                </li>
                <li>
                    <p>
                        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;EndDate =
                        <span class="bluetext">new</span>
                        <span class="classtext">DateTime</span> (2015, 06)
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;&emsp;&emsp;&emsp;},</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp;
                        <span calss="bluetext">new</span>
                        <span class="classtext">School</span>
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;&emsp;&emsp;&emsp;{</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;Name =
                        <span class="string">"Professional School of Chemical and Food Technologies"</span>,</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;Qualification =
                        <span class="string">"Laboratory Тechnician"</span>,</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;Specialty =
                        <span class="string">"Technological and Microbiological Control in Chemical Industries"</span>,</p>
                </li>
                <li>
                    <p>
                        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;StartDate =
                        <span class="bluetext">new</span>
                        <span class="classtext">DateTime</span> (2006, 09),
                    </p>
                </li>
                <li>
                    <p>
                        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &#x00009;EndDate =
                        <span class="bluetext">new</span>
                        <span class="classtext">DateTime</span> (2011, 06)
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;&emsp;&emsp;&emsp;}</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;};</p>
                </li>
                <li>
                    <p>&emsp; &emsp;}</p>
                </li>
                <li>
                    <p>&emsp;}</p>
                </li>
                <li>
                    <p>}</p>
                </li>
            </ol>
        </div>
    </div>
</div>
{{> footer}}
