{{> header}}
</br>
<div class="col-xs-9 col-sm-9 col-lg-9">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">About Me</h3>
            <div class="pull-right">
                <span>
                    <a href="/">
                        <i class="fa fa-window-close"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <ul class="files-line">
                <li>
                    {{> photo}}
                </li>
                <li>
                    <span class="file">
                        <a href="#/aboutme/resume" class="fa fa-file-text-o fa-5x"></a>
                        <div>Resume.cs</div>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
{{> footer}}