{{> header}}
<br>
<div class="col-xs-9 col-sm-9 col-lg-9">
    <div class="panel panel-primary panel-transparent">
        <div class="panel-heading">
            <h3 class="panel-title">Hello.cs</h3>
            <div class="pull-right">
                <span>
                    <a href="#/aboutme">
                        <i class="fa fa-window-close"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <ol class="line">
                <li>
                    <p>
                        <span class="bluetext">namespace</span> Home</p>
                </li>
                <li>
                    <p>{</p>
                </li>
                <li>
                    <p>&emsp;
                        <span class="bluetext">using</span> System;</p>
                </li>
                <li>
                    <p>
                        <br>
                    </p>
                </li>
                <li>
                    <p>&emsp;
                        <span class="bluetext">public class</span>
                        <span class="classtext">Hello</span>
                    </p>
                </li>
                <li>
                    <p>&emsp; {</p>
                </li>
                <li>
                    <p>&emsp; &emsp;
                        <span class="bluetext">public static void </span>Main()</p>
                </li>
                <li>
                    <p>&emsp; &emsp;{</p>
                </li>
                <li>
                    <p>&emsp; &emsp; &emsp;
                        <span class="classtext">Console</span>.WriteLine(
                        <span class="string">"Hello World"</span>);
                    </p>
                </li>
                <li>
                    <p>&emsp; &emsp;}</p>
                </li>
                <li>
                    <p>&emsp;}</p>
                </li>
                <li>
                    <p>}</p>
                </li>
            </ol>
        </div>
    </div>
</div>
{{> footer}}