{{> header}}
</br>
<div class="col-xs-9 col-sm-9 col-lg-9">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Games</h3>
            <div class="pull-right">
                <span>
                    <a href="#/projects">
                        <i class="fa fa-window-close"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <ul class="files-line">
                <li>
                    <span class="file">
                        <a target="_blank" href="https://7mojos.com/slots" class="fa fa-link fa-5x"></a>
                        <div>Slots Games</div>
                    </span>
                </li>
                <li>
                    <span class="folder">
                        <a href="#/projects/games/sp" class="fa fa-folder fa-5x"></a>
                        <div>Super Pesho</div>
                    </span>
                </li>
                <li>
                    <span class="folder">
                        <a href="#/projects/games/si" class="fa fa-folder fa-5x"></a>
                        <div>Space Invaders</div>
                    </span>
                </li>
                <li>
                    <span class="folder">
                        <a href="#/projects/games/sw" class="fa fa-folder fa-5x"></a>
                        <div>Star Wars</div>
                    </span>
                </li>
                <li>
                    <span class="folder">
                        <a href="#/projects/games/rpg" class="fa fa-folder fa-5x"></a>
                        <div>RPG Game</div>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
{{> footer}}