<header>
    <div class="col-xs-2 col-sm-2 col-lg-2">
        <div class="icons">
            <ul>
                <li>
                    <span class="folder">
                        <a href="#/aboutme" class="{{aboutMeFolder}}"></a>
                        <div>About Me</div>
                    </span>
                </li>
                <li>
                    <span class="folder">
                        <a href="#/projects" class="{{projectsFolder}}"></a>
                        <div>Projects</div>
                    </span>
                </li>
                <li>
                    <span class="folder">
                        <a href="#/education" class="{{educationFolder}}"></a>
                        <div>Education</div>
                    </span>
                </li>
                <li>
                    <span class="folder">
                        <a href="#/certificates" class="{{certificatesFolder}}"></a>
                        <div>Certificates</div>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</header>